@if(student){

<div class="parent">
    <h4>{{student.name}}'s Detailes</h4>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.age}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.phone}}</td>
                    <td>
                        <a routerLink="/update/{{student.id}}" type="button" class="btn btn-success">Update</a>
                        <a type="button" (click)="Delete()" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
