<div class="parent">
    <form action="">
        <label for="name">Name</label>
        <input [(ngModel)]="name" type="text" id="name" name="name">
        @if(name.length < 3 && name){
            <div style="color: red;">Invalid Student Name</div>
        }
        @else if(name.length >= 3 && name){
            <div style="color: green;">Valid Student Name</div>
        }
        <label for="email">Email</label>
        <input [(ngModel)]="email" type="email" id="email" name="email">
        <label for="age">Age</label>
        <input [(ngModel)]="age" type="number" id="age" name="age">
        @if(age < 10 && age){
            <div style="color: red;">Invalid Student Age</div>
        }
        @else if(age >= 10  && age){
            <div style="color: green;">Valid Student Age</div>
        }
        <label for="phone">Phone</label>
        <input [(ngModel)]="phone" type="number" id="phone" name="phone">
    </form>
    <input class="add btn btn-success" type="button" id="submit" (click)="Update()" name="submit" value="Update">
</div>
