
  <div class="head">
      <nav class="navbar bg-primary" data-bs-theme="dark">
          <ul>
              <li>
                  <a href="/students">Home</a>
                </li>
            </ul>
        </nav>
    </div>


  <style>
        ul{
            list-style: none;
        }
        ul li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin: auto;
            font-size: large;
            
        }
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
  </style>
  
